.module-one {
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%; }

.product-card {
  border: black solid 1px;
  max-width: 380px; }

img {
  max-width: 340px;
  margin: 20px; }

h1, h2, h3 {
  margin-left: 20px;
  margin-bottom: 2%; }

h1 {
  font-size: 2rem; }

h2 {
  font-size: 2rem;
  color: #00D0BB; }

h3 {
  color: #00D0BB;
  letter-spacing: 0.15rem;
  font-size: 1.4rem; }

.buy-button {
  background: #0191DE;
  color: #fff;
  margin-left: 20px;
  margin-top: 20px;
  width: 160px;
  height: 80px;
  border-radius: 6%;
  border: none;
  font-size: 1.6rem; }

.more-button {
  background: #F535C1;
  color: #fff;
  margin-left: 20px;
  margin-top: 20px;
  width: 160px;
  height: 80px;
  border-radius: 6%;
  border: none;
  font-size: 1.6rem; }

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 720px 720px 720px 720px;
  column-gap: 10px;
  row-gap: 20px;
  justify-items: center; }

@media (min-width: 1024px) and (max-width: 1440px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr 1fr; } }

@media (min-width: 786px) and (max-width: 1024px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr; } }

@media (max-width: 786px) {
  .container {
    grid-template-columns: 1fr 1fr; } }
